<a href="https://colab.research.google.com/github/Abdullahfoysal/Neural-Network-from-scratch/blob/main/BankSubscriptionPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!unzip /content/drive/MyDrive/bank-data.zip

Archive:  /content/drive/MyDrive/bank-data.zip
replace __MACOSX/._bank-data? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [ ]:
!ls bank-data/

bank-full.csv

In [ ]:
datadir ='/content/drive/MyDrive/'

In [ ]:
import pandas as pd
import os

In [ ]:
data = pd.read_csv(os.path.join(datadir,"bank-full.csv")) #extracted and save to my drive
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [ ]:
X = data.drop('y', axis=1)
y = data['y']

In [ ]:
y = data['y'].replace({'yes': 1, 'no': 0}).values

In [ ]:
cat_cols = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome']
X[cat_cols] = X[cat_cols].apply(lambda x: pd.factorize(x)[0])
X

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,58,0,0,0,0,2143,0,0,0,5,0,261,1,-1,0,0
1,44,1,1,1,0,29,0,0,0,5,0,151,1,-1,0,0
2,33,2,0,1,0,2,0,1,0,5,0,76,1,-1,0,0
3,47,3,0,2,0,1506,0,0,0,5,0,92,1,-1,0,0
4,33,4,1,2,0,1,1,0,0,5,0,198,1,-1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,1,0,0,0,825,1,0,1,17,5,977,3,-1,0,0
45207,71,5,2,3,0,1729,1,0,1,17,5,456,2,-1,0,0
45208,72,5,0,1,0,5715,1,0,1,17,5,1127,5,184,3,3
45209,57,3,0,1,0,668,1,0,2,17,5,508,4,-1,0,0
45210,37,2,0,1,0,2971,1,0,1,17,5,361,2,188,11,2

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=40)

print(X_train.shape)
print(X_test.shape)

print(y_train.shape)
print(y_test.shape)

(40689, 16)
(4522, 16)
(40689,)
(4522,)

In [ ]:
import numpy as np
#df_mean = np.mean(X_train)
#df_standard =np.std(X_train)
##X_train = (X_train-df_mean)/df_standard
#X_train #scaled trained datasets

In [ ]:
#df_mean = np.mean(X_test)
#df_standard =np.std(X_test)
##X_test = (X_train-df_mean)/df_standard
#X_test #scaled test datasets

In [ ]:
# scale the data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
from sklearn.svm import SVC
def build_SVM():
  return SVC(kernel='rbf', C=1, gamma='scale', random_state=40)

In [ ]:
model = build_SVM()

In [ ]:
# train the model
history = model.fit(X_train, y_train)

In [ ]:
history

SVC(C=1, random_state=40)

In [ ]:
y_predicted = model.predict(X_test)
y_predicted.shape

(4522,)

In [ ]:
y_test.shape

(4522,)

In [ ]:
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_test, y_predicted)
print(accuracy)

0.900265369305617

In [ ]:
t1 =[[58,	0,	0,	0,	0,	2143,	0,	0,	0,	5,	0,	261,	1,	-1,	0,	0]]
y_predicted = model.predict(t1)
if y_predicted[0]==0:
  print("Subscribe: NO")
else:
  print("Subscribe: YES")

Subscribe: NO